.bg-2 {
   background-image: url("../assets/img/home/img1.png");
}
.bg-3 {
   background-image: url("../assets/img/home/img2.png");
}
.bg-4 {
   background-image: url("../assets/img/home/img3.png");
}
.bg-5 {
   background-image: url("../assets/img/home/img4.png");
}
.bg-6 {
   background-image: url("../assets/img/home/img5.png");
}
.bg-7 {
   background-image: url("../assets/img/home/activit-esoiree-jemaa-el-fna.png");
}
.bg-8 {
   background-image: url("../assets/img/home/activite-sortie-en-quad.png");
}
.bg-9 {
   background-image: url("../assets/img/home/activite-Tour-en-Montgolfier.png");
}
.bg-10 {
   background-image: url("../assets/img/home/activite-trip-to-atlas.png");
}
.bg-11 {
   background-image: url("../assets/img/home/activite-Visite-de-villages-et-randonnees.png");
}
.bg-12 {
   background-image: url("../assets/img/decouvrir/img-decouvrir-notre-agence.jpg");
}
.bg-13 {
   background-image: url("../assets/img/activite/img-activite-que-nous-offrons.jpg");
}
